* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    display: flex;
}

header {
    width: 40%;
    height: 100vh;
    background: url(images/music.jpg) #481369;
    background-size: cover;
    background-position: center;
    position: relative;
}

.title h1 {
    font-size: 3rem;
    color: white;
    letter-spacing: 2px;
}

.title {
    margin-top: 14rem;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.3)
}

.title img {
    width: 70px;
}

.credit {
    width: 100%;
    position: absolute;
    bottom: 0;
    color: white;
    margin-bottom: 5px;
    font-size: 1.3rem;
    text-align: center;
    opacity: .8;
}

.credit a {
    color: #ffffff;
    text-decoration: underline;
}

#main-content {
    display: flex;
    flex-direction: column;
}

.description-section {
    background-image: linear-gradient(90deg, #1f4347, #0a2629);
    height: 40vh;
    width: 100%;
    padding: 50px 25px;
    color: white;
}

.description-section h2{
    margin-bottom: 30px;
    font-size: 2rem;
}

.description-section p {
    line-height: 1.5;
    width: 70%;
    font-size: 1.1rem;
}

form {
    width: 80%;
    height: 50vh;
    margin: 30px auto 0;
    padding: 30px;
    background-color: #4c6362;
    border-radius: 13px;
    box-shadow: 1px 1px 2px black;
}

.form-section {
    background-color: #1b373a;
    height: 100%;
}

form h3 {
    color: white;
    margin-bottom: 30px;
    font-size: 2rem;
}

fieldset {
    border: 0;
    display: flex;
    gap: 50px;
}

input, label {
    display: block;
}



